/*    th, td{
      
      border-bottom-color: #dbdbdb;
    } 


    
  

    
        
   
      th{ 
        color:#ECF0F1;
        text-transform: uppercase;
        cursor: pointer;
  
      }
      
      

        
    td:nth-last-child(1), th:nth-last-child(1)  {
       max-width: 150px;
    }
       

    th:nth-child(1)
    {

      border-top-left-radius: 10px;
    }

    th:nth-last-child(1){
      border-top-right-radius: 10px;
    }
*/

::-webkit-scrollbar {
  width: 5px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}