<div class="col-md-12 card card-outline-info" style="height:100%;" >
  
  <div  id="rep" style="overflow: auto;"> 
      <div><br>
      <div class="box2" style="float: right;margin:0% 1% 0% 0%">
        <img class="imageClass1" src="./assets/Images/pdf.png"/>&nbsp;<i style="color: #1565c0" (click)="downloadPDF()">Export to PDF</i> &nbsp;
        <img class="imageClass1" src="./assets/Images/excel.ico"/>&nbsp;<i style="color: #1565c0" (click)="downloadExcel('holidaytbl', 'employeedata')" >Export to Excel</i>
      </div>
      </div><br><br>
   
  
  <div class= "row">
    
                <!-- <div class="row"> -->

                    <div class="col-lg-12" id="holidays">
                      <label style="font-size: 15px"><b>Holiday Groups & Holidays</b></label>
                      <div>
                             <table id="holidaytbl" class="table table-bordered table-striped table-sm">
                               <thead class="bg-success">
                        <tr>
                            <th>Holiday Group</th>
                            <th>#Holidays</th>
                            <th>#Employees</th>
                        </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let bu of datas;let i = index " >
                          <td>{{bu.manageholiday[0].groupname}}</td>
                          <!-- <td>{{bu.manageholiday[0].holiday}}</td>
                          <td>{{bu.manageholiday[0].description}}</td> -->
                        
                          
                         </tr>                                 
                       </tbody>                        
                       </table>
            </div>
          </div>
      <!-- </div> -->
  </div>

</div>
</div>

  
  
  
  
  