<div  class="row">
<div class="col-lg-12">
  <div >
    <ol class="breadcrumb">
      <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
      <li class="breadcrumb-item ">HR </li>
      <li class="breadcrumb-item ">Exit Procedure </li>
      <li class="breadcrumb-item active">All Exit Procedures</li>
    </ol>
 </div>

<div  style="display: both" class="col-lg-12">
   <span style="font-weight:500">All Exit Procedures</span>
</div><br><br>

<div class="row">
 <div class="col-lg-12">
  <div class="table-responsive"> 
    <table  class="table table-bordered table-hover ">
 <thead class="thead-inverse">
     <tr>
      <th>Action</th>
      <th>Employee</th>
      <th>Employee ID</th>
      <th>Business Unit</th>
      <th>Department</th>
      <th>Exit Type</th>
      <th>Overall Status</th>
      <th>Initiated Date</th>
     </tr>
      </thead>
     <tbody>
                                	
     </tbody>                             
    </table>
   </div></div>
</div>
</div>

</div>

