<div class="col-md-12 card card-outline-primary" style="height:auto">
    <div *ngIf = "!show">
      <div>
          <ol class="breadcrumb row bg-primary">
              <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
              <li class="breadcrumb-item ">Recruitments </li>
              <li class="breadcrumb-item ">Rejected Requisitions</li>
              </ol>
      </div>
      <div>
          <span style="font-weight:500">Rejected Requisitions</span><br><br>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <div>
                <table class="table table-bordered table-striped table-sm">
                    <thead class="bg-success">
                      <tr>
                          <th>Action</th>
                          <th>Requisition Code</th>
                          <th>Job Title</th>
                          <th>Raised By</th>
                          <th>No. of Positions</th>
                          <th>Filled Positions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ip of empp;let i = index " >
                        <td> <i class="fa fa-eye" title="View" (click)="open(ViewModal);view(ip)"></i></td>
                        <td>{{ip.openings[0].requisitioncode}}</td>
                        <td>{{ip.openings[0].jobtitle}}</td>
                        <td>{{ip.openings[0].raisedby}}</td>
                        <td>{{ip.openings[0].reqnoofposition}}</td>
                        <td>{{ip.openings[0].filledposition}}</td>
                        </tr>
                    </tbody>


                    <tbody>
                        <tr *ngFor="let ip of app1;let i = index " >
                            <td> <i class="fa fa-eye" title="View" (click)="open(ViewModal);view(ip)"></i></td>
                            <td>{{ip.openings[0].requisitioncode}}</td>
                            <td>{{ip.openings[0].jobtitle}}</td>
                            <td>{{ip.openings[0].raisedby}}</td>
                            <td>{{ip.openings[0].reqnoofposition}}</td>
                            <td>{{ip.openings[0].filledposition}}</td>
    
                        </tr>
                    </tbody>

                    <tbody>
                            <tr *ngFor="let ip of app2;let i = index " >
                                <td> <i class="fa fa-eye" title="View" (click)="open(ViewModal);view(ip);viewvalue();"></i></td>
                                <td>{{ip.openings[0].requisitioncode}}</td>
                                <td>{{ip.openings[0].jobtitle}}</td>
                                <td>{{ip.openings[0].raisedby}}</td>
                                <td>{{ip.openings[0].reqnoofposition}}</td>
                                <td>{{ip.openings[0].filledposition}}</td>
        
                            </tr>
                    </tbody>

                    <tbody>
                            <tr *ngFor="let ip of app3;let i = index " >
                                <td> <i class="fa fa-eye" title="View" (click)="open(ViewModal);view(ip);"></i></td>
                                <td>{{ip.openings[0].requisitioncode}}</td>
                                <td>{{ip.openings[0].jobtitle}}</td>
                                <td>{{ip.openings[0].raisedby}}</td>
                                <td>{{ip.openings[0].reqnoofposition}}</td>
                                <td>{{ip.openings[0].filledposition}}</td>
        
                            </tr>
                    </tbody>
                </table>
                </div>
                </div>
                </div>
            </div>
</div>


<md2-dialog #ViewModal>
        <md2-dialog-title>REQUISITION DETAILS</md2-dialog-title>

        <div class="box33">
          <table class="table table-striped table-hover" cellspacing="5" border = "1" frame=hsides rules=rows>
            <tr>
                <td><b>Requisition Id </b></td>
                <td>{{emp.openings[0].requisitioncode}}<td>
                <td><b>Job Title</b></td> 
                <td>{{emp.openings[0].requisitioncode}}<td>
            </tr>
            <tr>
                <td><b>Job Title</b></td>
                <td>{{emp.openings[0].jobtitle}}<td>
                <td><b> Due Date </b></td> 
                <td>{{emp.openings[0].date | date}}<td>
            </tr>
            <tr>
                <td><b>Business Unit</b></td>
                <td>{{emp.openings[0].businessunit}}<td>
                <td><b>Department</b></td> 
                <td>{{emp.openings[0].department}}<td>
            </tr>
            <tr>
                <td><b>Position</b></td>
                <td>{{emp.openings[0].position}}<td>
                <td><b>Reporting Manager </b></td> 
                <td>{{emp.openings[0].reportingmanager}}<td>
            </tr>
            <tr>
                <td><b>Priority</b></td>
                <td>{{emp.openings[0].priority}}<td>
                <td><b>Employment Status</b></td> 
                <td>{{emp.openings[0].empstatus}}<td>
            </tr>
            <tr>
                <td><b>Req. Qualification</b></td>
                <td>{{emp.openings[0].reqqualification}}<td>
                <td><b>Req. Experience Range</b></td> 
                <td>{{emp.openings[0].reqexprange}}<td>
            </tr>
            <tr>
                <td><b>Req. no. of Positions</b></td>
                <td>{{emp.openings[0].reqnoofposition}}<td>
                <td><b>Filled. no. of Positions</b></td> 
                <td>{{emp.openings[0].filledposition}}<td>
            </tr>
            <tr>
                <td><b>Raised By</b></td>
                <td>{{emp.openings[0].raisedby}}<td>
                <td><b>Approver-1</b></td> 
                <td>{{emp.openings[0].approver1}}<td>
            </tr>
            <tr>
                <td><b> Approver -2 </b></td>
                <td>{{emp.openings[0].approver2}}<td>
                <td><b>Approver-3</b></td> 
                <td>{{emp.openings[0].approver3}}<td>
            </tr>
            <tr>
                <td><b>Client</b></td>
                <td>{{emp.openings[0].client}}<td>
                <td><b>Recruiters</b></td> 
                <td>{{emp.openings[0].reqruitors}}<td>
            </tr>
            <tr>
                <td><b>Raised By</b></td>
                <td>{{emp.openings[0].raisedby}}<td>
                <td><b>Approver-1</b></td> 
                <td>{{emp.openings[0].approver1}}<td>
            </tr>
          </table>
          </div>
             <br>
            <span><h5><b>JOB DETAILS</b></h5></span>
            <div class="box3">
              <table class="table table-striped table-hover" cellspacing="5" border = "1" frame=hsides rules=rows>
               <tr>
                <td><b>Job Title </b></td>
                <td>{{emp.openings[0].jobtitle}}<td>
                <td><b>Job Description</b></td> 
                <td>{{emp.openings[0].jobdec}}<td>
              </tr>
              <tr>
                  <td><b>Required Skills </b></td>
                  <td>{{emp.openings[0].reqskill}}<td>
                  <td><b>Additional Information</b></td> 
                  <td>{{emp.openings[0].additionalinfo}}<td>
                </tr>
              </table>
            </div>
            <br>
            <span><h5><b>REQUISITION HISTORY</b></h5></span>
            <div class="box4">
            <table class="table table-striped table-hover" cellspacing="5" border = "1" frame=hsides rules=rows>
            <tr>
              <td>
                <img class="imageClass" src="./assets/Images/employee.jpg"/>
              </td>
              <td>
              <span>
                 {{emp.openings[0].request}} on {{emp.openings[0].requestdate | date}}
              </span>
              </td>
            </tr>
            </table>
            </div>
    </md2-dialog>