.file-field.medium .file-path-wrapper {
    height: 1rem; }
    .file-field.medium .file-path-wrapper .file-path {
    height: 1rem; }
    
    .file-field.big-2 .file-path-wrapper {
    height: 1rem; }
    .file-field.big-2 .file-path-wrapper .file-path {
    height: 1rem; }