
.example-sidenav-fab-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-fab-container md-sidenav {
    max-width: 200px;
  }
  
  .example-sidenav-fab-container .mat-sidenav-content,
  .example-sidenav-fab-container md-sidenav {
    display: flex;
    overflow: visible;
  }
  
  .example-scrolling-content {
    overflow: auto;
  }
  
  .example-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
  
  .sidebar-nav {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
  }
  .sidebar-nav li {
      position: relative;
      line-height: 20px;
      display: inline-block;
      width: 100%;
      font-size: 110%;
      font-weight: 800;
      text-transform: lowercase;
      outline: none;
  }
  .sidebar-nav li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 1px;
      background-color: #1c1c1c;
      -webkit-transition: width .4s ease-in-out;
      -moz-transition: width .4s ease-in-out;
      -ms-transition: width .4s ease-in-out;
      transition: width .4s ease-in-out;
  }
  .sidebar-nav li:first-child a {
      color: purple;
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(2):before {
      color: #fff;
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(3):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(4):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(5):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(6):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(7):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(8):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(9):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:nth-child(10):before {
      background-color: #1a1a1a;
  }
  .sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
      width: 100%;
      -webkit-transition: width .4s ease-in-out;
      -moz-transition: width .4s ease-in-out;
      -ms-transition: width .4s ease-in-out;
      transition: width .4s ease-in-out;
  }
  .sidebar-nav li a {
      display: block;
      color: purple;
      text-transform: lowercase;
      text-decoration: none;
      padding: 20px 15px 10px 30px;
  }
  .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
  }
  .sidebar-nav > .sidebar-brand {
      height: 44px;
      font-size: 18px;
      line-height: 1.43;
  }
  .sidebar-nav .dropdown-menu {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0;
      border: none;
      background-color: #222;
      box-shadow: none;
  }
  #menu-toggle {
      z-index: 801;
      position: fixed;
      top: 0;
      right: 15px;
  }
  #sidebar-wrapper.active {
      right: 250px;
      width: 250px;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
  }
  
  div.box1{
    border-style:groove;
    /* height:100%; */
  }
  
  
  @import "~bootstrap/dist/css/sidenavmenu.css";
  ::-webkit-scrollbar {
    width: 2.5px;
    /* height: 3.5px; */
     
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555; 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #4CAF50;
  }
 

  .vl{
    border-right: none;
    border-right: 1px solid #bbb;
  }

  .imageClass{
    width: 50px;
    align-content: center;
    image-resolution: 50%;
     
  }
  .imageClass1{
    width: 75px;
  }
  
  .imageClass2{
    width: 50px;
  }
  .imageClass3
  {
    width: 50px;
    /* height: 5px; */
  }
  
  
  