<div class="col-md-12">
<div class="row">
<div  style="display: both" class="col-lg-12">
    <span style="font-weight:500">Leave</span>
    
</div><br><br>
</div>  
</div>
<div   class="col-md-12">
   <md-input-container class="example-full-width">
      <input mdInput  [(ngModel)]="group"  placeholder="Holiday Group Name" required>
    </md-input-container><br><br><br>
    
</div>


<div  class="col-md-12">
 <md-select placeholder="Holiday Group" [(ngModel)]="gname " (change)="show=!show" >
    <md-option *ngFor="let g of hgroup" [value]="g.groupname" >
    {{ g.groupname }}
  </md-option>
</md-select><br><i style="color: #0d47a1" (click)="open(basicholiday)">Add Holiday Group</i><br><br><br>
</div>
<md2-dialog #basicholiday>
   <md2-dialog-title> Holiday Group</md2-dialog-title>

   <div  class="row">
   <div  class="col-md-12"> 
   
   <div class="col-md-4">
    <md-input-container class="example-full-width">
       <input mdInput placeholder=" Group Name" [(ngModel)]="groups" >
    </md-input-container><br><br>
    </div>
    <div class="col-md-4">
    <md-input-container class="example-full-width">
     <input mdInput #message maxlength="200" [(ngModel)]="hdes" placeholder="Description"> 
    <md-hint align="end">{{message.value.length}} Characters entered / 200</md-hint>
  </md-input-container><br><br><br>
</div>
</div>
   </div><br><br>
    <md2-dialog-footer>
      <button type="submit" class="btn btn-sm btn-primary" data-dismiss="modal" (click)="savegroup()">ADD</button>
      <button type="submit" class="btn btn-secondary btn-sm" (click)="close(basicholiday)">Cancel</button>
    </md2-dialog-footer>
  </md2-dialog> 

<div style="float: right;margin:0% 2% 0% 0%" class="row">
<div  class="col-md-12">
<button class="btn btn-outline-primary btn-sm" (click)="save()"> Save</button>
<!-- <button class="btn btn-outline-danger btn-sm" (click) = "show=!show"> Cancel </button> -->
</div>
</div>




<br><br>
 <div *ngIf="show" class="col-lg-12">
   <span style="font-weight:500"> Holidays</span><br><br>
  <div class="table-responsive"> 
    <table  class="table table-bordered table-hover ">
 <thead class="thead-inverse">
     <tr>
     
      <th>Holiday Group</th>
       <th>Holiday</th>
      <th>Date</th>
      <th>Description</th>
     </tr>
      </thead>
     <tbody>
        <tr *ngFor="let ho of datas   " >
        
<!-- | filter:gname -->

  <td >{{ho.holiday}}</td>


  <td >{{ho.groupname}}</td>


  <td >{{ho.holidaydate}}</td>

  <td >{{ho.description}}</td>
</tr>                               
     </tbody>                             
    </table>
   </div></div>
