<div class="col-md-12" style="height: 300px;">
  <div class="col-md-8">
  </div>
  <div style="height: 5%" *ngIf="setval" style="text-align:center" [ngClass]="messageClass">
      {{ message }}
  </div>
 <form class="form-horizontal" [formGroup]="form">
<div *ngIf="questiondiv" style="padding-top: 20px;margin-left: 30%;">
  <div style="border:groove;width:500px;height: 500px;">
      <div class="col-md-12" style="">
          <h4 style="margin-left: 20%;font-weight: 500;padding-top: 10px;" class="display-5">Security Questions</h4>
          <hr>
      </div><br>
      <div class="row" style="margin-left: 15%">
      <div class="col-md-12" style="padding-bottom: 10px;">
        <md-select placeholder="Select Security Question">
         <md-option *ngFor="let seq of secquestion" (click)="filterquestion(seq.value);" [value]="seq.value">{{seq.value}}</md-option>
        </md-select>
        <br>
        <md-input-container>
            <input type="text" mdInput placeholder="Answer" [(ngModel)]="answer1" formControlName="ans1" name="newpass">
            <md-error>Please enter Employee Id.</md-error>
        </md-input-container>
      </div><br><br>
      <div class="col-md-12" style="padding-bottom: 10px;">
        <md-select placeholder="Select Security Question">
         <md-option *ngFor="let seq of seqes" (click)="filterquestion1(seq.value);" [value]="seq.value">{{seq.value}}</md-option>
        </md-select>
        <br>
        <md-input-container>
            <input type="text" mdInput placeholder="Answer" [(ngModel)]="answer2" formControlName="ans2" name="newpass">
            <md-error>Please enter Designation.</md-error>
        </md-input-container>
      </div><br><br>
      <div class="col-md-12" style="padding-bottom: 10px;">
        <md-select placeholder="Select Security Question">
         <md-option *ngFor="let seq of seleque" (click)="selectque(seq.value);" [value]="seq.value">{{seq.value}}</md-option>
        </md-select>
       <br>
        <md-input-container>
            <input type="text" mdInput placeholder="Answer" [(ngModel)]="answer3" formControlName="ans3" name="newpass" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <md-error>Please enter Email Id.</md-error>
        </md-input-container>
      </div>
      </div>
    <div class="col-md-12">
        <button style="width:25%;float: right;" class="btn btn-primary btn-sm" (click)="submitQuestion()" [disabled]="!form.valid">Submit Question</button>
    </div>
  </div>
</div>
</form>

  <div *ngIf="passdiv" style="width:30%;margin-top: 10%;margin-left: 35%; padding-bottom: 1%; " class="loginbg">
               
          <div class="row" style="padding: 3%">
             <div class="col-md-12" style="">
                  <h4 style="margin-left: 20%;font-weight: 500" class="display-5">Forget Password</h4>
                  <hr>
                  <div style="margin-left: 15%">
                      <md-input-container>
                          <input type="password" mdInput placeholder="New Password" [(ngModel)]="newpassword" maxlength="15" name="newpass">
                      </md-input-container>
                      <br>
                      <md-input-container>
                          <input type="password" mdInput placeholder="Confirm Password" [(ngModel)]="confirmpassword" maxlength="15" name="confpass">
                      </md-input-container>
                      <br>

                      <button style="width:25%" class="btn btn-primary btn-sm" (click)="forgetSubmit()">Submit</button>
                      <button style="width:25%" class="btn btn-primary btn-sm" (click)="loginbtn()">Login</button>
                  </div>
              </div>
          </div>
      <!-- </form> -->
  </div><br>
</div>
<div>

</div>