<div class="col-md-12 card card-outline-primary" style="height:100%">
  <div  *ngIf= "!show">
    <div >
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Site </li>
        <li class="breadcrumb-item ">General </li>
        <li class="breadcrumb-item active"> License Types</li>
      </ol>
    </div>
    
    <div >
      <span style="font-weight:500">License Type</span>
      <button type="button" style="float: right;margin:0% 2% 0% 0%" class="btn btn-outline-primary btn-sm"  (click) = "show = !show;updatebutton=false;">Add</button>
    </div><br><br>
    <div *ngIf="edited" [ngClass]="messageClass"  style="text-align:center;margin-left:30%;padding: 0.5% 0.5% 0.5% 0.5%;width:40%;float:center">
      {{ message }}
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <div>
          <table  class="table table-bordered table-striped table-sm">
            <thead class="bg-success">
              <tr>
                <th>Action</th>
                <th>License Types</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody *ngFor="let lic of alllicense; let i=index ">
              <tr>
                <td>
                    <i class="fa fa-eye" aria-hidden="true" title="View" (click)="open(deptModal);view(lic)"></i>&nbsp;&nbsp;
                  <i (click)="edit(lic);show = !show"   title="Edit" class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<i (click)="delete(lic,i)" title="Delete" class="fa fa-trash-o"></i></td>
                
                <td>{{lic.licensetype[0].licensetype}}</td>
                <td>{{lic.licensetype[0].description}}</td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf= "show" >
    <div >
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Site </li>
        <li class="breadcrumb-item ">General </li>
        <li class="breadcrumb-item "> License Types</li>
        <li class="breadcrumb-item active"> <i class="fa fa-plus">Add</i></li>
      </ol>
    </div>
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="example-full-width">
        <input  required mdInput placeholder="License Types"  [(ngModel)]="data.licensetype[0].licensetype">
        
        </md-input-container><i mdTooltip="Ex:Class A,Class B,Class C" class="fa fa-question-circle"></i><br><br><br>
      </div>
      <div class="col-md-6">
        <md-input-container class="example-full-width">
        <input mdInput #message maxlength="200" [(ngModel)]="data.licensetype[0].description" placeholder="Description">
        <md-hint align="start">{{message.value.length}} characters entered(200 maximum)</md-hint>
        </md-input-container><br><br><br>
      </div>
      <div  class="col-md-12" style="margin-top: 5%">
        <button *ngIf="!updatebutton" class="btn btn-outline-success btn-sm" (click)="save(data);show=!show"> Save</button>
        <button *ngIf="updatebutton"  class="btn btn-outline-success btn-sm" (click)="update(data);show=!show;updatebutton=!updatebutton"> Update</button>
        <button class="btn btn-outline-warning btn-sm" (click) = "cancel(data);show=!show;updatebutton=!updatebutton"> Cancel </button>
      </div>
    </div>
  </div>
</div>


<md2-dialog #deptModal>
    <md2-dialog-title>License Types</md2-dialog-title>
    <div class=" row box">
      <div class="emp-info">
          License Type : {{data.licensetype[0].licensetype}}
      </div>
      <div class="emp-info">
          Description  : {{data.licensetype[0].description}}
      </div><br>
    </div>
  <md2-dialog-footer>
      <button type="submit" class="btn btn-secondary" (click)="close(deptModal)">Cancel</button>
  </md2-dialog-footer>
</md2-dialog>