

::-webkit-scrollbar {
    width: 5px;
   
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.nav-item:focus{
background-color: bisque
}
.nav-item:hover{
    cursor: pointer;
    background-color: #555;
}
.box{
    box-shadow: 0px 0px 8px 0px #000000;
}

.act{
    background-color: #555;
}
a.nav-link a:active {      
    background-color: black
}