<nav style="height:6%;color: white; " class="navbar navbar-toggleable-sm bg-primary navbar-dark box">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a style="" class="nav-link "  (click)="dash()"> Dashboard</a>
    </li>
    <li class="nav-item">
      <a style="" class="nav-link"  (click)="self()" > Self Service</a>
    </li>
    <li class="nav-item">
      <a style="" class="nav-link"  (click)="request()">  Service Request</a>
    </li>
    <li class="nav-item">
      <a style="" class="nav-link"  (click)="human()" routerLinkActive="active">HR</a>
    </li>
    <li  class="nav-item">
      <a style="" class="nav-link"  (click)="appraisal()"> Appraisals</a>
    </li>
    <li  class="nav-item">
      <a style="" class="nav-link"  (click)="recruitment()"> Recruitments</a>
    </li>
    <li  class="nav-item">
      <a style="" class="nav-link" (click)="background()">Background Check </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="organization()">Organization</a>
    </li>
    <li  class="nav-item">
      <a style="" class="nav-link" (click)="analytics()">Analytics </a>
    </li>
      
    <li class="nav-item">
      <a class="nav-link"  (click)="site_confi()">Site Config </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="time()">Time</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="expenses()">Expenses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="assets()">Assets</a>
    </li>
   
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="nav-link" (click)="disciplinary()">Disciplinary</a>
        
      </div>
    </div>
  </ul>
</nav>
<!-- <div class="bg-inverse" style="margin-left: 0px;margin-right: 0px">
  <nav class="" class="navbar navbar-toggleable-sm bg-inverse" style="height: 5%">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul id="navbarNav" style="z-index:2;" class="navbar-nav collapse navbar-collapse text-white navbar-sm">

      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive" (click)="dash()"> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive1" (click)="self()"> Service</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive2" (click)="request()"> Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive3" (click)="human()">HR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive9" (click)="organization()">Organization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive5" (click)="site_confi()">Site </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="textactive6" (click)="time()">Time</a>
      </li>


 -->
      <!-- <li  class="nav-item">
    <a style="" class="nav-link"  (click)="appraisal()"> Appraisal</a>
  </li>
  <li  class="nav-item">
    <a style="" class="nav-link" >Recruitment</a>
  </li>
  <li  class="nav-item">
    <a style="" class="nav-link" (click)="background()">Background </a>
  </li>
  
  <li class="nav-item">
    <a style="" class="nav-link"  (click)="analytics()">Analytics</a>
  </li>
  
  <li class="nav-item">
    <a style="" class="nav-link"  >Modules</a>
  </li>
  <li  class="nav-item">
    <a style="" class="nav-link">Assets</a>
  </li>
  <li class="nav-item">
    <a style="" class="nav-link" >Disciplinary</a>
  </li>
  
  <li  class="nav-item">
    <a style="" class="nav-link" >Logs</a>
  </li> -->
    <!-- </ul>
  </nav>
</div> -->


<div class="row">
  <div class="col-md-2  card-secondary" id="secondcard" style="height: 88%">
    <router-outlet name="secondchild"></router-outlet>
  </div>

  <div class="col-md-10" style="height:88%;">
    <div class="  panel  bg-secondary" style="padding:1% 1% 1.5% 1%;height: 100%">
      <router-outlet name="thirdchild"></router-outlet>

    </div>
  </div>
  <!-- <div class="col-md-12"  style="height:88%;">
  
</div> -->
</div>
<!-- background-color:#ECF1F2 -->