
 <div class="row " id="second_card" style="height: 100%">
     
    <div style="width: 100%;" class="nav-side-menu">
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    
          <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
              
    
              <li data-toggle="collapse" data-target="#holiday" class="collapsed "><a>Configuration 
              <span class="arrow"></span></a></li>
                  <ul class="sub-menu collapse" id="holiday">
                      <li (click)="screening_type()"><a >Screening types </a></li>
                      <li  (click)="agencies()"><a>Agencies</a></li>
                  </ul>
     
              <li data-toggle="collapse" data-target="#leave" class="collapsed"><a>Screening
              <span class="arrow"></span></a></li>
                  <ul class="sub-menu collapse" id="leave">
                      <li (click)="employee_candidate()"><a >Employee/candidate screening</a></li>   
                  </ul>
    
              
    
           </ul>
    
         </div>
    
        </div>
    
    </div>
    
     
           
    