<div class="col-md-12 card card-outline-primary" style="height:100%">
  <div *ngIf="!show">
    <div>
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Site </li>
        <li class="breadcrumb-item ">Location </li>
        <li class="breadcrumb-item active">States</li>
      </ol>
    </div>
    <div >
      <span style="font-weight:500">States</span>
      <button type="button" style="float: right;" class="btn btn-outline-primary btn-sm"  (click) = "show = !show">Add</button>
    </div><br><br>

 <div class="row">
 <div class="col-lg-12">
 <div> 
     <table  class="table table-bordered table-striped table-sm">
 <thead class="bg-success">
            <tr>
              <th>Action</th>
              <th>Country</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let state of datas2; let i=index ">
             <td><i (click)="delete(state,i)" title="Delete" class="fa fa-trash-o"></i></td>
              
              <td>{{state.country1}}</td>
              
              <td>{{state.state1}}</td>
              
            </tr>
          </tbody>
          
        </table>
      </div>
      </div>
    </div>
  </div>
  
  <div  *ngIf="show">
    <div >
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Site </li>
        <li class="breadcrumb-item ">Location </li>
        <li class="breadcrumb-item ">States</li>
        <li class="breadcrumb-item active "><i class="fa fa-plus">Add</i></li></ol>
      </div><br>

      <div class="row">
        <div class="col-md-6">
          <md-select placeholder="Country" [(ngModel)]="country1" >
          <!--  <md-option *ngFor="let cntry of cntrys" [value]="cntry">
          {{cntry}}
          </md-option> -->
          <md-option *ngFor="let opt of datas; let i=index " [value]="opt.countryvalue" (click)="select(i,datas)">
          {{opt.countryvalue}}</md-option>
          </md-select>
        </div>
        <div class="col-md-6">
          <md-select placeholder="State" [(ngModel)]="state1">
          <md-option *ngFor="let stats of statearry  | unique: 'statename' "  [value]="stats" >
          {{stats.statename}}
          </md-option>
          </md-select>
        </div>
    
<div  class="col-md-12" style="margin-top: 5%">

<button class="btn btn-outline-success btn-sm" (click)="save();show=!show"> Save</button>
<button class="btn btn-outline-warning btn-sm" (click) = "show=!show;"> Cancel </button>
</div>

</div>
</div>
</div>
