<div class="col-md-12 card card-outline-primary" style="height:100%">
  <div *ngIf = "!show">
    <div>
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Expenses </li>
        <li class="breadcrumb-item ">Receipts </li>
        
      </ol>
    </div>
    <div>
      <button type="button" style="float: left;margin:0% 2% 0% 0%" class="btn btn-outline-primary btn-sm">Download</button>
  
    </div>
    <div class="row">
      <div class="col-md-3">
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Search">
          
          </md-input-container><br><br><br>
      </div>
      <div class="col-md-3">
        <md-input-container>
          <input mdInput [mdDatepicker]="picker" placeholder="Start Date" >
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker #picker></md-datepicker>
      </div>
      <div class="col-md-3">
        <md-input-container>
          <input mdInput [mdDatepicker]="picker1" placeholder="End Date" >
          <button mdSuffix [mdDatepickerToggle]="picker1"></button>
          </md-input-container>
          <md-datepicker #picker1></md-datepicker>
      </div>
      <div class="col-md-3"><br>
        <button type="button" style="float: left;margin:0% 2% 0% 0%" class="btn btn-outline-primary btn-sm">Search</button>
        <button type="button" style="float: left;margin:0% 2% 0% 0%" class="btn btn-outline-primary btn-sm">Clear</button>
  
      </div>
      <div class="col-md-3">
        <div class="file-field medium">
          <div class="btn btn-outline-primary waves-effect float-left">
            <span>Upload Receipt<i class="fas fa-cloud-upload-alt ml-1" aria-hidden="true"></i></span>
            <input type="file" multiple>
          </div>
         
        </div>
      </div>
     
    </div>
    </div>
    </div>