<div class="col-md-12 card card-outline-primary" style="height:100%">
  <div  *ngIf= "!show">
    <div >
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Site Config </li>
        <li class="breadcrumb-item ">Location </li>
        <li class="breadcrumb-item active">Cities</li>
        
      </ol>
    </div>
    <div   >
      <span style="font-weight:  500">Cities</span>
      <button type="button" style="float: right;" class="btn btn-outline-primary btn-sm"  (click) = "show = !show">
      <i class="fa fa-plus"></i>   Add</button>
    </div><br><br>
    <div class="row">
      <div class="col-md-12">
        <div>
          <table  class="table table-bordered table-striped table-sm">
            <thead class="bg-success">
              <tr>
                <th>Action</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let cityval of datas3; let i=index ">
                <td><i class="fa fa-eye" aria-hidden="true"></i><i style="margin-left: 2%; " class="fa fa-trash" aria-hidden="true"  (click)="remove(cityval,i)"></i></td>
                <td>{{cityval.country2}}</td>
                <td>{{cityval.state2}}</td>
                <td>{{cityval.city2}}</td>
                
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="show">
    <div >
      <ol class="breadcrumb row bg-primary">
        <li class="breadcrumb-item "> <i class="fa  fa-home">Home </i></li>
        <li class="breadcrumb-item ">Site Config </li>
        <li class="breadcrumb-item ">Location </li>
        <li class="breadcrumb-item ">Cities</li>
        <li class="breadcrumb-item active">Edit</li>
        
      </ol>
    </div><br>
  
    <div class="row">
      <div class="col-md-3">
        <md-select placeholder="Country" [(ngModel)]="country2">
        <md-option *ngFor="let cntry of datas1; let i=index " (click)="select(i,datas1)" [value]="cntry.country1">
        {{cntry.country1}}
        </md-option>
        </md-select>
      </div>
      <div class="col-md-3">
        <md-select placeholder="State" [(ngModel)]="state2">
        <md-option *ngFor="let state of statearry; let i=index  " (click)="select1(i,statearry)" [value]="state">
        {{state}}
        </md-option>
        </md-select>
      </div>
      <div class="col-md-3">
        <md-select placeholder="City" [(ngModel)]="city2">
        <md-option *ngFor="let city of cityarry"   [value]="city">
        {{city}}
        </md-option>
      </md-select>
    </div>
      <div  class="col-md-12" style="margin-top: 5%">
        <button class="btn btn-outline-success btn-sm" (click)="save();show=!show">save</button>
        <button  class="btn btn-outline-danger btn-sm" (click)="show=!show" >cancel</button>
      </div>
    </div><br>
    
  </div>
</div>