<div style="height: 100%;" class="row">
    <div style="width: 100%;" class="nav-side-menu">
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
          <ul id="menu-content">
              <li (click)="violation()"><a >Violation Type</a></li>
              <li (click)="raiseincident()"><a >Raise An Incident</a></li>
              <li (click)="myincident()"><a >My Incidents</a></li>
              <li (click)="teamincident()"><a >Team Incidents</a></li>
              <li (click)="allincident()"><a >All Incidents</a></li>
              
              
              </ul>
              </div>
              </div>
              </div>