    th, td{
      
      border-bottom-color: #dbdbdb;
    } 


    
  

    
        
   
      th{ 
        
        text-transform: uppercase;
        cursor: pointer;
        background-color: rgb(17, 67, 87);
        border: none;
      }
      
      tr:nth-child(1):hover{
          background-color: #fff;
      }
          

     
 
      

 
      

        
    td:nth-last-child(1), th:nth-last-child(1)  {
       max-width: 150px;
    }
       

    th:nth-child(1)
    {

      border-top-left-radius: 10px;
    }

    th:nth-last-child(1){
      border-top-right-radius: 10px;
    }
